<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Salario</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="../assets/bootstrap-icons/bootstrap-icons.css">
</head>
<body class="bg-light">

    <header>
        <nav class="navbar bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
              <h1 class="navbar-brand mb-0 fs-3"><i class="bi bi-calculator-fill"></i> App Calculadora de Salario</h1>
            </div>
        </nav>
    </header>

    <main class="container my-5">
        <section class="card shadow-sm">
            <div class="card-header bg-dark">
                <h4 class="text-white"><i class="bi bi-card-list"></i> Formulario de Empleados</h4>
            </div>

            <div class="card-body p-4">

                <form id="formEmpleados" class="row g-3 needs-validation" novalidate>
                    <div class=" col-md-6 col-lg-3">
                      <label for="documento" class="form-label fw-semibold">N&uacute;mero de Documento:</label>
                      <input type="number" class="form-control shadow-sm" id="documento" required>
                      <div class="invalid-feedback">
                        &Eacute;ste campo es requerido!
                      </div>
                    </div>

                    <div class=" col-md-6 col-lg-4">
                      <label for="nombreEmpleado" class="form-label fw-semibold">Nombre Empleado:</label>
                      <input type="text" class="form-control shadow-sm" id="nombreEmpleado" required>
                      <div class="invalid-feedback">
                        &Eacute;ste campo es requerido!
                      </div>
                    </div>

                    <div class=" col-md-6 col-lg-3">
                        <label for="cargoEmpleado" class="form-label fw-semibold">Cargo Empleado:</label>
                        <input type="text" class="form-control shadow-sm" id="cargoEmpleado" required>
                        <div class="invalid-feedback">
                          &Eacute;ste campo es requerido!
                        </div>
                    </div>

                    <div class=" col-md-6 col-lg-2">
                      <label for="tipoContrato" class="form-label fw-semibold">Tipo de Contracto:</label>
                      <select class="form-select shadow-sm" id="tipoContrato" required>
                        <option selected disabled value="">Seleccione...</option>
                        <option value="contratista">Contratista</option>
                        <option value="planta">Planta</option>
                      </select>
                      <div class="invalid-feedback">
                        &Eacute;ste campo es requerido!
                      </div>
                    </div>

                    <dil class="col-12">
                      <div class="row d-none" id="datosPlanta">
                        <div class=" col-md-4">
                            <label for="valorHora" class="form-label fw-semibold">Valor de la Hora:</label>
                            <input type="number" class="form-control shadow-sm" id="valorHora" required>
                            <div class="invalid-feedback">
                              &Eacute;ste campo es requerido!
                            </div>
                        </div>

                        <div class=" col-md-4">
                          <label for="valorExtra" class="form-label fw-semibold">Valor Extra:</label>
                          <input type="number" class="form-control shadow-sm" id="valorExtra" required>
                          <div class="invalid-feedback">
                            &Eacute;ste campo es requerido!
                          </div>
                        </div>

                        <div class=" col-md-4">
                          <label for="deducciones" class="form-label fw-semibold">Total Deducciones:</label>
                          <input type="number" class="form-control shadow-sm" id="deducciones" required>
                          <div class="invalid-feedback">
                            &Eacute;ste campo es requerido!
                          </div>
                        </div>

                      </div>

                      <div class="row d-none" id="datosContratista">
                        <div class=" col-md-6">
                            <label for="valorHoraContratista" class="form-label fw-semibold">Valor de la Hora:</label>
                            <input type="number" class="form-control shadow-sm" id="valorHoraContratista" required>
                            <div class="invalid-feedback">
                              &Eacute;ste campo es requerido!
                            </div>
                        </div>
                        <div class=" col-md-6">
                          <label for="horasTrabajadas" class="form-label fw-semibold">Horas Trabajadas en el Mes:</label>
                          <input type="number" class="form-control shadow-sm" id="horasTrabajadas" required>
                          <div class="invalid-feedback">
                            &Eacute;ste campo es requerido!
                          </div>
                        </div>

                      </div>
                    </dil>

                    <div class="col-12 py-2">
                      <button class="btn btn-lg btn-primary shadow-sm" type="submit">Enviar Datos <i class="bi bi-send-fill"></i></button>
                    </div>
                </form>

            </div>
        </section>
    </main>
    <!-- JS Bootstrap -->
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- JS Validación Form -->
    <script src="../assets/js/validationForm.js"></script>
    <script src="../assets/js/app.js"></script>
</body>
</html>